@use 'sass:color';
@use '@angular/material' as mat;

$fontIncrement-M:            120%;
$fontSize-screenHeightRatio: 50;   // Root font size is 100vh / this var
$fontSize-min:               10px; // down to this minimum

$fontFamily-primary: 'Yantramanav', sans-serif;

$color-primary:     rgb(0, 0, 255);
$color-onPrimary:   black;
$color-primaryBg:   rgb(234, 220, 187);
$color-primaryBgFaded:  color.change($color-primaryBg, $alpha: 0.5);
$color-accent:      rgb(222, 199, 148);
$color-accentDarker: color.change($color-accent, $lightness: 40%);
$color-secondary:    color.mix($color-primaryBg, $color-primary, 75%);
$color-secondaryBg: white;

$alpha-overlay: 0.8;
$alpha-buttonBg: 0.15;
$alpha-faded: 0.3;
$opacity-disabled: 0.5;

$fontSize-XS:  0.72rem;
$fontSize-S:   0.8rem;
$fontSize-M:   1rem;
$fontSize-L:   1.1rem;
$fontSize-XL:  1.35rem;
$fontSize-XXL: 3rem;

$fontWeight-M: 500;
$fontWeight-L: 900;

$fontSize-iconL: 32px;

$lineHeight-S: 1.1;
$lineHeight-M: 1.3;

$borderWidth-S: 1px;
$borderWidth-M: 2px;
$borderWidth-L: 3px;

$border-S: $borderWidth-S solid $color-primary;
$border-M: $borderWidth-M solid $color-primary;
$border-L: $borderWidth-L solid $color-primary;

$borderRadius-M: 4px;
$borderRadius-XL: 1.5rem;

$boxShadow-M: 0 6px 2px -4px rgba(0,0,0,.2), 0 4px 4px 0 rgba(0,0,0,.14), 0 2px 10px 0 rgba(0,0,0,.12);

$margin-XS:  0.25rem;
$margin-S:   0.5rem;
$margin-M:   1rem;
$margin-L:   1.5rem;
$margin-XL:  3rem;
$margin-XXL: 6rem;

$maxWidth-S: 25rem;
$maxWidth-M: 38rem;
$maxWidth-L: 40rem;
$maxWidth-XL: 60rem; 

$animationEasing: cubic-bezier(0.4, 0, 0.2, 1);
$animationDuration-M: 225ms;
$animationDuration-XL: 700ms;
$animationTiming-M: $animationDuration-M $animationEasing;
$animationTiming-XL: $animationDuration-XL $animationEasing;
$animationTimingWithDelay-M: $animationDuration-M $animationDuration-M $animationEasing;
$animationTimingWithDelay-XL: $animationDuration-XL $animationDuration-M $animationEasing;

$zIndex-10: 1000;
$zIndex-9: 900; // Popups
$zIndex-8: 800; // 
$zIndex-7: 700; // 
$zIndex-6: 600; // 
$zIndex-5: 500; // Cards
$zIndex-4: 400; // 
$zIndex-3: 300; // 
$zIndex-2: 200; //
$zIndex-1: 100; //
$zIndex-0: 0;


/* Material theme */

// Typography
// https://material.angular.io/guide/typography
// Usage: @include mat-typography-level-to-styles($app-typography, title)
$app-typography: mat.define-typography-config(
  $font-family: $fontFamily-primary
);

// Custom palettes and theme
// See http://mcg.mbitson.com/

// Base colour: $color-primary / #fff
$palette-primary: mat.define-palette((
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
));

// Base colour: $color-accent / #dcca58
$palette-accent: mat.define-palette((
  50 : #fbf9eb,
  100 : #f5efcd,
  200 : #eee5ac,
  300 : #e7da8a,
  400 : #e1d271,
  500 : #dcca58,
  600 : #d8c550,
  700 : #d3bd47,
  800 : #ceb73d,
  900 : #c5ab2d,
  A100 : #ffffff,
  A200 : #fff7d4,
  A400 : #ffeea1,
  A700 : #ffe987,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
));

$palette-warn: mat.define-palette(mat.$red-palette, A200);
$app-theme: mat.define-light-theme($palette-primary, $palette-accent, $palette-warn);

/* Mixins */

@mixin allCaps {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

@mixin buttonOnWhite {
  &:hover {
    background-color: color.change($color-primary, $alpha: 0.5 * $alpha-buttonBg);
  } 
}

@mixin buttonOnColor {
  color: $color-primary;
  border-color: $color-primary;
}