
<section class="card pattern"
         [@flip]="patternFlipTrigger">

  <div class="content"></div>
  
</section>

<section class="card front"
         [class.disabled]="disabled"
         [class.locked]="locked"
         [@flip]="frontFlipTrigger">

  <label [innerHTML]="t(title)"></label>

  <div class="content">
    <div class="description"
        [innerHTML]="t(description)"></div>
  </div>
  
  <button type="button"
          class="bottomButton"
          [disabled]="disabled"
          (click)="toggleLocked()"
          [innerHTML]="t(locked ? buttonLabelLocked : buttonLabel)">
  </button>
  

</section>

<section class="card back"
         [@flip]="backFlipTrigger">

  <div class="content">
    <h3>
      <span class="titleText"
            [innerHTML]="t(titleBack)"></span>
    </h3>
    <div class="description"
        [innerHTML]="t(descriptionBack)"></div>
  </div>

</section>