<div class="container"
     [class.bar]="isBar"
     [class.dot]="isDot">

  <div class="content">
    <ng-container *ngIf="isBar">
        <div class="valueBar"
            [style.width]="valueBarWidth"
            @growInOut></div>
        <div *ngIf="showPreviousValue"
            class="valueBar valueChange"
            [class.negative]="valueChange &lt; 0"
            [style.left]="previousValueLeft"
            [style.width]="valueChangeWidth"
            [@growInOut]="valueBarChangeTrigger"></div>
    </ng-container>
    <ng-container *ngIf="isDot">
        <div *ngIf="showPreviousValue"
            class="valueDot previousValue"
            [style.left]="previousValueLeft"
            @fadeInOut></div>
        <div class="valueDot"
             [style.left]="valueDotLeft"
             @fadeInOut></div>
    </ng-container>
  </div>

  <label *ngIf="titleTop"
         class="titleTop">
    <span class="titleText"
          [innerHTML]="t(titleTop)"></span>
  </label>

  <label *ngIf="titleBottom"
         class="titleBottom">
    <span class="titleText"
          [innerHTML]="t(titleBottom)"></span>
  </label>

</div>