@use 'sass:color'
@use '~@angular/material' as mat

@import '~normalize.css'
@import 'variables.scss'
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@500;900&display=swap')

/* MATERIAL */

// Core imports, import only once
@include mat.core($app-typography)

// Include theme styles for Angular Material components.
@include mat.core-theme($app-theme)
@include mat.progress-spinner-theme($app-theme)

/* BASICS */

*
  box-sizing: border-box

:root
  font-size: 13px

body
  background-color: $color-primaryBg
  margin: 0
  padding: 0
  min-height: 100vh
  min-width:  100vw

/* TYPOGRAPHY */

body,
input,
button,
textarea
  color: $color-primary
  font-family: $fontFamily-primary
  font-weight: $fontWeight-M
  line-height: $lineHeight-M

h1,
h2,
h3,
h4,
h5
  font-weight: $fontWeight-L
  margin: $margin-M 0rem
  &:first-child
    margin-top: 0rem
  &:last-child
    margin-bottom: 0rem

label
  @include allCaps
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap


/* INTERACTIVE ELEMENTS */

a:link, 
a:visited, 
a:hover, 
a:active
  color: $color-primary

// See also mixins in variables scss for different button styles
button
  @include allCaps
  display: block
  color: inherit
  background-color: $color-primaryBg
  font-weight: $fontWeight-L
  min-height: 4rem
  padding: $margin-S $margin-L
  margin-top: $margin-L
  border: $border-M
  border-radius: $borderRadius-M
  text-align: center
  width: 100%
  transition: all $animationTiming-M
  cursor: pointer
  &:disabled
    border-color: $color-secondary
    cursor: not-allowed
    color: $color-secondary
  &:hover:not(:disabled)
    border-color: $color-accent
    color: $color-accent
    // background-color: color.change($color-primary, $alpha: $alpha-buttonBg)
  
/* MATERIAL COMPONENT OVERRIDES */

// Setting the primary palette doesn't seem to work
.mat-progress-spinner circle,
.mat-spinner circle
  stroke-width: 5%
  // stroke: $color-primary !important

